- if current_user.blank?
  %div
    = link_to 'Sign in with GitHub', '/auth/github'
- else
  %div
    = image_tag current_user.avatar_url

  #ctrl
    = link_to "New", new_post_path
    = link_to "Sign out", signout_path, method: :delete
