/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: 'Ubuntu Mono', monospace;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;

	> div {
		padding: 8px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

pre {
	margin: 0;
}

form {
	div {
		display: flex;

		input,
		label {
			margin: 8px;
		}

		input:nth-child(2)	{
			margin-left: auto;
		}
	}
}

#bar {
	display: flex;
	flex-direction: column;
	background: #333;
	color: #fff;

	> div {
		> * {
			margin: 8px;
			display: block;
		}

		img {
			width: 60px;
			border-radius: 3px;
		}
	}

	#ctrl {
		margin-top: auto;
	}
}

#cont {
	overflow-y: auto;
	flex-grow: 1;

	> * {
		margin: 8px;
	}
}

#post {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	align-content: flex-start;
	margin: 0;

	> div {
		width: 260px;
		margin: 8px;

		.head {
			display: flex;
			border-radius: 6px 6px 0 0;
			padding: 8px;
			background: #333;
			color: #fff;

			* {
				padding: 8px;
				line-height: 10px;
			}

			h3 {
				overflow-x: auto;
			}
		}

		.body {
			.expr code {
				cursor: pointer;
				-webkit-user-select: text;
				-khtml-user-select: text;
				-moz-user-select: text;
				-o-user-select: text;
				user-select: text;
			}

			.ctrl {
				padding: 4px;
				display: flex;
				background: #333;
				color: #fff;
				border-radius: 0 0 6px 6px;

				h5 {
					margin: 4px;
					padding: 8px;
					background: #222;
					border-radius: 6px;
				}
			}
		}
	}
}
