/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: 'Ubuntu Mono', monospace;
}

#head,
.head {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html,
body {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

#head {
	display: flex;
	padding: 8px;
	margin: 8px;

	h1 {
		padding: 8px;
		margin: 8px;
	}

	form {
		margin-left: auto;
		padding: 4px;

		div {
			display: flex;

			> * {
				margin: 4px;
			}

			input {
				margin-left: auto;
			}
		}
	}
}

#cont {
	display: flex;
	flex-wrap: wrap;
	padding: 8px;

	> div {
		width: 260px;
		margin: 8px;

		.head {
			border-radius: 6px 6px 0 0;
			background: #333;
			color: #fff;

			h3 {
				padding: 8px;
			}
		}
	}
}
